.manageBook-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.manageBook-main-container .table-container {
  width: 100%;
  margin-top: 55px;
  border-radius: 10px;
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
