.search-main-container {
  margin-bottom: 20px;
  display: flex;
}

.add-btn {
  margin-right: 200px;
}

.button {
  position: relative;
  width: 200px;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #521717;
  border: none;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #fff;
  font-weight: 600;
}

.button:hover {
  background: #5f1a1a;
}

.search-container {
  margin-left: 150px;
}

.custom-search {
  width: 450px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-search .ant-input-affix-wrapper {
  background-color: transparent;
  border: 1px solid #751e18;
  color: black;
}

.custom-search .ant-input-search-button {
  background-color: #996c6c;
  color: white;
  border-radius: 0 8px 8px 0;
}

.custom-search .ant-input-search-button:hover {
  background-color: #421111 !important;
}

.custom-search .ant-input::placeholder {
  color: rgb(78, 66, 66);
  font-style: italic;
}

.add-icon {
  font-size: 20px;
  color: #fff;
}
