.custom-tab-label {
  font-size: 14px;
  color: #fff;
}

.ant-tabs-tab-active .custom-tab-label {
  color: #380404 !important;
}

.ant-tabs-tab:hover .custom-tab-label {
  color: #380404 !important;
}

.ant-tabs-ink-bar {
  background-color: #380404 !important;
  border-radius: 50px;
}

.ant-tabs-tab-active {
  color: #380404 !important;
}

.tab-main-container h1 {
  color: #380404;
}

.status-btn {
  border-color: none !important;
}

.custom-table img {
  width: 30px;
  height: 30px;
}

.custom-table span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
